<div class="card text-center">
    <div class="card-header"> 
        <h3>Nested Pluck Operator</h3>
    </div>
    <div class="card-body">
        <p><b>(It is shorthand of map operator...)</b></p>
        <hr> 
        <table class="table table-bordered">
            <thead>  
                <th>Profession</th>
            </thead>
            <tbody> 
                <tr *ngFor="let data1 of data2"> 
                    <td>{{data1}}</td>  
                </tr> 
            </tbody>
        </table> 
    </div>
</div>